/* font-family: 'Roboto', sans-serif;
font-family: 'Bowlby One', cursive; */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: visible;
  top: 0;
  left: 0;
  color: #011627;
  font-family: 'Roboto', sans-serif; }

canvas {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to left, #051937, #004d7a, #008793, #00bf72, #a8eb12); }

section h2 {
  font-family: 'Anton', sans-serif;
  font-weight: 100;
  font-size: 90px;
  margin-top: 30px;
  margin-bottom: 30px; }

h2,
.subtitle {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px; }

.subtitle:after {
  background: #615966;
  height: 1px;
  width: 40%;
  content: "";
  display: block;
  margin: 29px auto 0 auto; }

.module {
  position: relative;
  width: 100%;
  /* overflow-x: hidden; */
  overflow: hidden;
  padding: 0 30px;
  box-sizing: border-box;
  z-index: 10;
  /* min-height: 100vh; */ }

.sd-text-center {
  text-align: center; }

#home {
  height: 100vh;
  font-family: 'Anton', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FDFFFC;
  position: relative; }
  #home .myname {
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 5em;
    position: absolute; }

#about {
  background-color: #FF9F1C; }

/* TECHNOLOGIES */
#technologies {
  background-color: #FDFFFC; }
  #technologies .tech-list-container {
    width: 100%;
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* Animate badges here */ }
    #technologies .tech-list-container .badge-container {
      display: inline-block;
      border-radius: 5px;
      padding: 15px;
      padding-bottom: 30px;
      position: relative;
      margin-bottom: 30px;
      transition: background 200ms ease-in, transform 200ms linear; }
      #technologies .tech-list-container .badge-container:hover {
        background: #FF9F1C;
        transform: scale(1.2); }
        #technologies .tech-list-container .badge-container:hover .badge-summary {
          display: block; }
      #technologies .tech-list-container .badge-container .badge-summary {
        display: none;
        position: absolute;
        font-weight: 700;
        width: 100%;
        text-align: center;
        left: 0px; }
      #technologies .tech-list-container .badge-container img {
        width: 100px;
        height: 100px; }

#projects {
  background-color: #BE182D;
  color: #FDFFFC; }

#projects .subtitle:after {
  background: #FDFFFC; }

#gallery {
  background-color: #FDFFFC; }

#contact {
  background-color: #2EC4B6;
  color: #FDFFFC; }

#contact .subtitle:after {
  background: #FDFFFC; }

#footer {
  height: 100px;
  background-color: #011627;
  color: #FDFFFC;
  padding: 20px 80px;
  text-align: center; }

@media (max-width: 575px) {
  section h2 {
    font-size: 50px; }
  #technologies .badge-container {
    padding: 10px;
    padding-bottom: 30px; }
  #technologies .badge-container img {
    width: 50px;
    height: 50px; } }

/* @media (min-width: 992px) { }

@media (min-width: 1200px) { } */
