/* font-family: 'Roboto', sans-serif;
font-family: 'Bowlby One', cursive; */
html {
  scroll-behavior: smooth; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: visible;
  top: 0;
  left: 0;
  color: #011627;
  font-family: 'Roboto', sans-serif; }

section {
  background: #FDFFFC; }
  section.module {
    position: relative;
    width: 100%;
    /* overflow-x: hidden; */
    overflow: hidden;
    box-sizing: border-box;
    z-index: 10;
    min-height: 100vh; }
  section h2 {
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    font-size: 130px;
    margin-top: 30px;
    margin-bottom: 30px; }
  section h2,
  section .title,
  section .subtitle {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
    color: #FDFFFC; }
  section .subtitle:after {
    background: #FDFFFC;
    height: 1px;
    width: 40%;
    content: "";
    display: block;
    margin: 29px auto 0 auto; }
  section .title {
    cursor: pointer;
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    font-size: 130px; }
    section .title span {
      display: inline-block;
      transition: all .1s ease-in-out; }
      section .title span:hover {
        transform: scale(1.2); }
      section .title span.whitespace {
        margin: 0 10px; }
  section .img-container {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); }
    section .img-container img {
      width: 25%;
      height: auto;
      position: relative;
      perspective: 2px; }
  section .img-container--left img {
    top: 0;
    left: 0; }
  section .img-container--right img {
    top: 0;
    left: 100%;
    transform: translateX(-100%); }
  section .scroll--container {
    position: absolute;
    bottom: 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: #FDFFFC;
    left: 50%;
    transform: translate(-50%, 0); }

.sd-text-center {
  text-align: center; }

/* Intro */
section#intro {
  height: 100vh;
  font-family: 'Anton', sans-serif;
  position: relative;
  font-family: 'Raleway', sans-serif; }
  section#intro .intro-bg-split {
    position: absolute;
    height: 100vh;
    width: 50vw;
    top: 0;
    z-index: 5;
    background: #021D44; }
  section#intro .intro-bg-split--left {
    left: 0;
    background: #011627; }
  section#intro .intro-bg-split--right {
    right: 0;
    background: #FF9F1C; }
  section#intro #intro-name {
    width: 100%;
    font-size: 3em;
    font-weight: 700;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 10;
    color: #FDFFFC; }
    section#intro #intro-name p {
      position: relative;
      left: 10%; }
      section#intro #intro-name p span {
        color: #FF5851; }
  section#intro #intro-programmer {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 10; }
    section#intro #intro-programmer img {
      left: 80%;
      transform: translate(-50%, 0);
      position: relative;
      width: 40%;
      height: auto; }
  section#intro #intro-summary {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 100%;
    font-size: 50px;
    z-index: 1;
    color: #FF5851; }

section#about {
  background-color: #3F5267; }
  section#about .title span::selection {
    color: #FEFF8B; }
  section#about .title span:hover {
    color: #393B58; }

/* TECHNOLOGIES */
section#technologies {
  background-color: #254992; }
  section#technologies .title span::selection {
    color: #202E6E; }
  section#technologies .title span:hover {
    color: #393B58; }
  section#technologies .tech-list-container {
    width: 100%;
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* Animate badges here */ }
    section#technologies .tech-list-container .badge-container {
      display: inline-block;
      border-radius: 5px;
      padding: 15px;
      padding-bottom: 30px;
      position: relative;
      margin-bottom: 30px;
      transition: background 200ms ease-in, transform 200ms linear; }
      section#technologies .tech-list-container .badge-container:hover {
        background: #FF9F1C;
        transform: scale(1.2); }
        section#technologies .tech-list-container .badge-container:hover .badge-summary {
          display: block; }
      section#technologies .tech-list-container .badge-container .badge-summary {
        display: none;
        position: absolute;
        font-weight: 700;
        width: 100%;
        text-align: center;
        left: 0px; }
      section#technologies .tech-list-container .badge-container img {
        width: 100px;
        height: 100px; }

section#projects {
  background-color: #EEC747;
  color: #FDFFFC; }
  section#projects .title span::selection {
    color: #E9C149; }
  section#projects .title span:hover {
    color: #393B58; }
  section#projects .subtitle:after {
    background: #FDFFFC; }

section#gallery {
  background-color: #a7302e; }
  section#gallery .title span::selection {
    color: #AFBA55; }
  section#gallery .title span:hover {
    color: #393B58; }

section#contact {
  background-color: #598d2e;
  color: #FDFFFC; }
  section#contact .title span::selection {
    color: #393B58; }
  section#contact .title span:hover {
    color: #393B58; }
  section#contact .subtitle:after {
    background: #FDFFFC; }

footer#footer {
  height: 100px;
  background-color: #011627;
  color: #FDFFFC;
  padding: 20px 80px;
  text-align: center; }

@media (max-width: 575px) {
  section h2 {
    font-size: 50px; }
  #technologies .badge-container {
    padding: 10px;
    padding-bottom: 30px; }
  #technologies .badge-container img {
    width: 50px;
    height: 50px; } }

/* @media (min-width: 992px) { }

@media (min-width: 1200px) { } */
