:root {
  --main-text-color :#011627;
  --white-color: #FDFFFC;
  --home-sec-color: #011627;
  --about-sec-color: #FF9F1C;
  --technologies-sec-color: #FDFFFC;
  --projects-sec-color: #BE182D;
  --gallery-sec-color: #FDFFFC;
  --contact-sec-color: #2EC4B6;
  --footer-sec-color: #011627;
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Bowlby One', cursive; */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: visible;
    top: 0;
    left: 0;
    color: var(--main-text-color);
    font-family: 'Roboto', sans-serif;
}   


section h2{
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    font-size: 90px;
    margin-top: 30px;
    margin-bottom: 30px
}

h2, .subtitle{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
}

.subtitle:after{
    background: #615966;
    height: 1px;
    width: 40%;
    content: "";
    display: block;
    margin: 29px auto 0 auto;
}

.module{
    position: relative;
    width: 100%;
    overflow-x: hidden;
    padding: 0 30px;
    box-sizing: border-box;
    z-index: 10;
    /* min-height: 100vh; */
}

.sd-text-center{
    text-align: center;
}

/* Sections */

#home{
    height: 100vh;
    background-color: var(--home-sec-color);
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    color: var(--white-color);
}

#home p{
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 5em;
    /* background-color: var(--white-color);  */
}

#about{
    background-color: var(--about-sec-color);

}

#technologies{
    background-color: var(--technologies-sec-color);
    /* color: var(--white-color); */

}
#technologies .subtitle:after{
    /* background: var(--white-color); */
}

#projects{
    background-color: var(--projects-sec-color);
    color: var(--white-color);
}
#projects .subtitle:after{
    background: var(--white-color);
}

#gallery{
    background-color: var(--gallery-sec-color);

}

#contact{
    background-color: var(--contact-sec-color);
    color: var(--white-color);
}
#contact .subtitle:after{
    background: var(--white-color);
}

#footer{
    height: 100px;
    background-color: var(--footer-sec-color);
    color: var(--white-color);
    padding: 20px 80px;
    text-align: center;
}

