$white-color: #FDFFFC;
$red-color: #BE182D;
$black-color :#011627;
$yellow-color: #FF9F1C;
$cyan-color: #2EC4B6;

$batman-black:#3F5267;
$superman-blue: #254992;
$wolverine-yellow: #EEC747;
$deadpool-red: #a7302e;
$hulk-green: #598d2e;

$main-text-color :#011627;
$intro-split-pane-color:#021D44;
$intro-font-color: #FF5851;

$intro-sec-color: #011627;
$about-sec-color: $batman-black;
$technologies-sec-color:$superman-blue;
$projects-sec-color: $wolverine-yellow;
$gallery-sec-color: $deadpool-red;
$contact-sec-color: $hulk-green;
$footer-sec-color: #011627;

/* font-family: 'Roboto', sans-serif;
font-family: 'Bowlby One', cursive; */
html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: visible;
    top: 0;
    left: 0;
    color: $main-text-color;
    font-family: 'Roboto', sans-serif;
}

section {
    background: $white-color;

    &.module {
        position: relative;
        width: 100%;
        /* overflow-x: hidden; */
        overflow: hidden;
        // padding: 0 150px;
        box-sizing: border-box;
        z-index: 10;
        min-height: 100vh;
    }

    h2 {
        font-family: 'Anton', sans-serif;
        font-weight: 100;
        font-size: 130px;
        margin-top: 30px;
        margin-bottom: 30px
    }

    h2,
    .title,
    .subtitle {
        max-width: 850px;
        margin: 0 auto;
        text-align: center;
        padding: 0 20px;
        color: $white-color;
    }

    .subtitle:after {
        background: $white-color;
        height: 1px;
        width: 40%;
        content: "";
        display: block;
        margin: 29px auto 0 auto;
    }

    .title {
        cursor: pointer;
        font-family: 'Anton', sans-serif;
        font-weight: 100;
        font-size: 130px;

        span {
            display: inline-block;
            transition: all .1s ease-in-out;

            &:hover {
                transform: scale(1.2);
            }

            &.whitespace {
                margin: 0 10px;
            }
        }
    }

    .img-container {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);

        img {
            width: 25%;
            height: auto;
            position: relative;
            perspective: 2px;
        }
    }

    .img-container--left {
        img {
            top: 0;
            left: 0;
        }
    }

    .img-container--right {
        img {
            top: 0;
            left: 100%;
            transform: translateX(-100%);
        }
    }

    .scroll--container {
        position: absolute;
        bottom: 10px;
        border-radius: 50%;
        width: 100px;
        height:100px;
        background: $white-color;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.sd-text-center {
    text-align: center;
}

/* Intro */

section#intro {
    height: 100vh;
    // background-color: $intro-sec-color;
    font-family: 'Anton', sans-serif;
    position: relative;
    font-family: 'Raleway', sans-serif;

    .intro-bg-split {
        position: absolute;
        height: 100vh;
        width: 50vw;
        top: 0;
        z-index: 5;
        background: $intro-split-pane-color;
    }

    .intro-bg-split--left {
        left: 0;
        background: $black-color;
    }

    .intro-bg-split--right {
        right: 0;
        background: $yellow-color;
    }

    #intro-name {
        width: 100%;
        font-size: 3em;
        font-weight: 700;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 10;
        color: $white-color;

        p {
            position: relative;
            left: 10%;

            span {
                color: $intro-font-color;
            }
        }
    }

    #intro-programmer {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 10;

        img {
            left: 80%;
            transform: translate(-50%, 0);
            position: relative;
            width: 40%;
            height: auto;
        }
    }

    #intro-summary {
        width: 100%;
        position: absolute;
        text-align: center;
        top: 100%;
        font-size: 50px;
        z-index: 1;
        color: $intro-font-color;
    }

    #mouse-move-objects {
        img {}
    }
}

section#about {
    background-color: $about-sec-color;

    .title {
        span::selection {
            color: #FEFF8B;
        }

        span {
            &:hover {
                color: #393B58;
            }
        }
    }
}

/* TECHNOLOGIES */

section#technologies {
    background-color: $technologies-sec-color;

    .title {
        span::selection {
            color: #202E6E;
        }

        span {
            &:hover {
                color: #393B58;
            }
        }
    }

    // .subtitle:after {}

    .tech-list-container {
        width: 100%;
        margin: 30px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        /* Animate badges here */
        .badge-container {
            display: inline-block;
            border-radius: 5px;
            padding: 15px;
            padding-bottom: 30px;
            position: relative;
            margin-bottom: 30px;
            transition: background 200ms ease-in, transform 200ms linear;

            &:hover {
                background: #FF9F1C;
                transform: scale(1.2);

                .badge-summary {
                    display: block;
                }
            }

            .badge-summary {
                display: none;
                position: absolute;
                font-weight: 700;
                width: 100%;
                text-align: center;
                left: 0px;
            }

            img {
                width: 100px;
                height: 100px;
            }
        }
    }
}

section#projects {
    background-color: $projects-sec-color;
    color: $white-color;

    .title {
        span::selection {
            color: #E9C149;
        }

        span {
            &:hover {
                color: #393B58;
            }
        }
    }

    .subtitle:after {
        background: $white-color;
    }
}

section#gallery {
    background-color: $gallery-sec-color;

    .title {
        span::selection {
            color: #AFBA55;
        }

        span {
            &:hover {
                color: #393B58;
            }
        }
    }
}

section#contact {
    background-color: $contact-sec-color;
    color: $white-color;

    .title {
        span::selection {
            color: #393B58;
        }

        span {
            &:hover {
                color: #393B58;
            }
        }
    }

    .subtitle:after {
        background: $white-color;
    }
}

footer#footer {
    height: 100px;
    background-color: $footer-sec-color;
    color: $white-color;
    padding: 20px 80px;
    text-align: center;
}

@media (max-width: 575px) {
    section h2 {
        font-size: 50px;
    }

    #technologies .badge-container {
        padding: 10px;
        padding-bottom: 30px;
    }

    #technologies .badge-container img {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

/* @media (min-width: 992px) { }

@media (min-width: 1200px) { } */